@import "bootstrap";

/* universial */

body {
  padding-top: 80px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h5 {
  text-align: center;
}

/* header */
#logo {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.7m;
  font-family: Hufsm;
  &:hover{
    color: #FFFFFF;
    tex-decoration: none;
  }
}

/* footer */
footer{
  margin-top: 45px;
  a {
    color: #555;
    &:hover{
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.bold {
  font-family :Hufsm;
}

h5.bold {
  font-family :Hufsm;
}

th.bold {
  font-family :Hufsm;
}

// /*
// 	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
// 	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {
      .mobile-font {
        font-size: 0.75rem;
      }
    }
    @media(min-width: 760px){
      .pre-scrollable-2{
            max-height: 340px;
            overflow-y: scroll;
      }
    }


